body {
    padding: 0px;
    margin: 0px;
}

button {
    font-size: 15px;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    cursor: pointer;
}
      
button:hover {
    background-color: lightblue;              
}
      
h1 {
    color: navy;
}

.nav-bar {
    position: sticky;
    display: flex;
    justify-content: space-between;
    background-color: pink;
    padding: 10px 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-logo img {
    height: 75px;
}

.tulisan {
    text-align: center;
    margin-top: 100px;
}

a {
    text-decoration: none;
    font-weight: 550px;
    font-family:Arial, Helvetica, sans-serif;
}

.login {
    text-align: center;
    margin-top: 50px;w
}

.login-button {
    font-size: 15px;
}

.nav-item :hover {
    background-color: lightpink;
    padding: 5px;
    border-radius: 5px;
    
}

.nav-item a {
    transition: all 0.3s ease;
}

